.Container__edit_profile {
  max-width: 850px;
  width: 100%;
  padding: 20px;
  background: white;
  border: 1px solid #dbdbdb;
  margin: auto;
  color: #585858;
  box-sizing: border-box;
}

.Sub__contianer_edit_profile {
  max-width: 500px;
  margin: auto;
  width: 95%;
}

.container__edit-picture {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  margin-right: 5px;
}
.container__edit-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__edit-picture-info {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.btn-upload-picture-profile {
  cursor: pointer;
  color: #0095f6;
  text-decoration: underline;
}

.form__edit-profile {
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.input__edit-profile {
  width: 100%;
  display: block;
  border: 1px solid #dbdbdb;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.textarea_edit_profile {
  max-height: 110px;
  min-height: 110px;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 100%;
  min-width: 100%;
}
textarea:focus {
  outline: none;
}

.btn__submit-update-profile {
  display: block;
  background: #0095f6;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}

.inputfile__edit_profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
