* {
  margin: 0;
  padding: 0;
}

/*Modal*/

.modal_followers_profile {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000085;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_follower-container {
  width: 350px;
  max-height: 400px;
  background: white;
  border-radius: 15px;
}

.modal_header-followers {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-header-follower-modal {
  font-size: 18px;
}

.CloseModalFollower-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
}

.Container-follower-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  max-height: calc(100% - 55px);
}
.Container-follower-list li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
/* fin */

.header {
  height: 75px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  position: fixed;
  z-index: 3;
}

.estorbo {
  height: 70px;
}

.navigator {
  max-width: 1000px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.contianers-nav {
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo1 {
  width: 35px;
}

.img-logo2 {
  width: 123px;
}

.form-search input {
  padding: 4px;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: #00000087;
}

.form-search input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.iconosnav {
  font-size: 23px;
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
  color: #252525d1;
}

@media screen and (max-width: 768px) {
  .form-search {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.entrar-modal {
  display: flex;
}
.sub-modal {
  width: 400px;
  height: 384px;
  background: white;
  border-radius: 15px;
}
.container-all-profile {
  max-width: 1000px;
  width: 95%;
  margin: auto;
  height: auto;
  /*background: red;*/
  /*border: 1px solid rgba(0,0,0,0.1);*/
}
.container-info-profile {
  width: 100%;
  height: auto;
  /*background-color: grey;*/
  display: flex;
  /*border-bottom:1px solid  rgba(0,0,0,0.1);*/
}
.container-profile-picture {
  min-width: 290px;
  height: auto;
  /*background-color: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-img-profile {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
  border-radius: 100%;
  grid-area: foto;
}
.container-img-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-profile-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 70px;
}
.sub-container-profile-info {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 200px 100px 35px;
  grid-template-areas:
    "foto username buttonedit buttonconfig"
    "foto counters buttonedit buttonconfig"
    "foto infoprofile  buttonedit buttonconfig";
  /*background: red;*/
}
.container-username {
  grid-area: username;
}
.container-editprofile {
  grid-area: buttonedit;
}
.container-buttonconfig {
  grid-area: buttonconfig;
}
.section-info-username {
  display: flex;
}
.txt-username {
  font-size: 23px;
  font-family: serif;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
  font-family: arial;
  color: #262626;
}
.link-txt-edit-profile {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 5px 7px;
  border-radius: 4px;
  font-family: arial;
  font-weight: 600;
  font-size: 13px;
  color: #262626;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  display: block;
  width: 100px;
}
.section-info-name {
  grid-area: infoprofile;
}
.section-info-follows {
  display: flex;
  grid-area: counters;
}
.section-info-follows span {
  margin-right: 5px;
}
.section-info-follows div {
  margin: 15px 15px 15px 0px;
  font-size: 15px;
  font-family: arial;
  display: flex;
}
.section-info-name div {
  font-family: arial;
}
.txt-name {
  font-family: arial;
  color: rgba(0, 0, 0, 0.67);
  margin-bottom: 5px;
  display: block;
  width: 330px;
}
.link-website {
  color: #003569;
  color: #205992;
  text-decoration: none;
}

.container-all-post {
  margin-top: 30px;
  margin-bottom: 50px;
}
/*estilos de los posts*/
.iconoLikes {
  display: flex;
  width: 60px;
  align-items: center;
}

.fontIcons {
  width: 14px;
  margin-top: 2px;
  margin-right: 3px;
}
.listPost {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 290px));
  grid-template-rows: repeat(3, minmax(100px, 290px));
  grid-gap: 30px;
  justify-content: center;
}
.post {
  cursor: pointer;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: auto;
  height: 100%;
}
.post-image {
  margin: 0;

  width: 100%;
  height: 100%;
}
.post-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: none;
  transition: all 0.5s;
}
.overlay span {
  padding: 0 10px;
  margin: 0 3px;
}
.post:hover .overlay {
  display: flex;
}

.btn__Follow {
  background: #0095f6;
  color: white;
  border: 1px solid #0095f6;
}

.span__followers_user {
  margin-left: 4px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .sub-container-profile-info {
    grid-template-columns: 100px 116px 35px;
    grid-template-areas:
      "foto username  buttonconfig  "
      "foto buttonedit  buttonconfig "
      "infoprofile infoprofile infoprofile  "
      "counters counters counters";
    /*background: red;*/
  }
  .listPost {
    grid-gap: 3px;
  }
  .container-profile-info {
    padding: 0 0;
  }
  .container-img-profile {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    border-radius: 100%;
  }
  .section-info-follows {
    margin: -16px 0;
  }
  .container-profile-picture {
    min-width: 100px;
    height: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-info-name {
    margin: 10px 0;
  }
  .link-txt-edit-profile {
    display: block;
  }

  .section-info-follows div {
    margin: 15px 15px 15px 0px;
    font-size: 13px;
    font-family: arial;
    display: flex;
  }
  .listPost {
    grid-gap: 3px;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    grid-template-rows: repeat(3, minmax(100px, 125px));
  }
}
