.Container__feed-footer-navigation {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #dbdbdb;
  background: white;
}

.Container-feed-footer-navigation-max {
  max-width: 950px;
  width: 95%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
